<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsj.csp.manage.mapper.AbilityApiMapper">

    <resultMap id="BaseResultMap" type="com.dsj.csp.manage.entity.AbilityApiEntity">
        <id column="API_ID" property="apiId" />
        <result column="ABILITY_ID" property="abilityId" />
        <result column="API_NAME" property="apiName" />
        <result column="DESCRIPTION" property="description" />
        <result column="RECALL_LIMIT" property="recallLimit" />
        <result column="QPS" property="qps" />
        <result column="REQUEST_PARAM" property="requestParam" />
        <result column="RESPONSE_PARAM" property="responseParam" />
        <result column="PROTOCOL" property="protocol" />
        <result column="API_HOST" property="apiHost" />
        <result column="BASE_PATH" property="basePath" />
        <result column="API_URL" property="apiUrl" />
        <result column="API_VERSION" property="apiVersion" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        API_ID, ABILITY_ID, API_NAME, DESCRIPTION, RECALL_LIMIT, QPS,
        REQUEST_PARAM, RESPONSE_PARAM, PROTOCOL, API_HOST, BASE_PATH, API_URL,
        API_VERSION, IS_DELETE, CREATE_TIME, UPDATE_TIME
    </sql>

</mapper>
