<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsj.csp.manage.mapper.ManageApplicationMapper">

    <resultMap id="BaseResultMap" type="com.dsj.csp.manage.entity.ManageApplicationEntity">
        <id property="appId" column="YY_ID" jdbcType="BIGINT"/>
        <result property="appName" column="YY_MC" jdbcType="VARCHAR"/>
        <result property="appSynopsis" column="YY_MC" jdbcType="VARCHAR"/>
        <result property="appAbility" column="YY_NLBD" jdbcType="VARCHAR"/>
        <result property="appAgreement" column="YY_FWXY" jdbcType="TINYINT"/>
        <result property="appAuthentication" column="YY_SMRZ" jdbcType="TINYINT"/>
        <result property="appKey" column="YY_KEY" jdbcType="VARCHAR"/>
        <result property="appSecret" column="YY_SECRET" jdbcType="VARCHAR"/>
        <result property="appWgKey" column="YY_WGKEY" jdbcType="VARCHAR"/>
        <result property="appWgSecret" column="YY_WGSECRET" jdbcType="VARCHAR"/>
        <result property="appStatus" column="YY_ZT" jdbcType="TINYINT"/>
        <result property="appIsdelete" column="YY_ISDELETE" jdbcType="TINYINT"/>
        <result property="appCreatetime" column="YY_CREATETIME" jdbcType="TIMESTAMP"/>
        <result property="appUpdatetime" column="YY_UPDATETIME" jdbcType="TIMESTAMP"/>
        <result property="appRemarks" column="YY_BZ" jdbcType="VARCHAR"/>
        <result property="appCreatename" column="YY_CREATENAME" jdbcType="VARCHAR"/>
        <result property="appUpdatename" column="YY_UPDATENAME" jdbcType="VARCHAR"/>
        <result property="appCode" column="YY_CODE" jdbcType="VARCHAR"/>
        <result property="appExamine" column="YY_SHZT" jdbcType="TINYINT"/>
        <result property="appIconpath" column="YY_TB" jdbcType="VARCHAR"/>
        <result property="appUserId" column="YH_XH_ID" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        YY_ID, YY_MC, YY_JC, YY_NLBD, YY_FWXY, YY_SMRZ, YY_KEY, YY_SECRET, YY_ZT, YY_ISDELETE, YY_CREATETIME, YY_UPDATETIME, YY_BZ, YY_CREATENAME, YY_UPDATENAME, YY_CODE, YY_SHZT, YY_TB, YH_XH_ID
    </sql>

</mapper>
