<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsj.csp.manage.mapper.ManageApplicationMapper">

    <resultMap id="BaseResultMap" type="com.dsj.csp.manage.entity.ManageApplicationEntity">
        <id property="appId" column="YY_ID" jdbcType="VARCHAR"/>
        <result property="appName" column="YY_MC" jdbcType="VARCHAR"/>
        <result property="appSynopsis" column="YY_MC" jdbcType="VARCHAR"/>
        <result property="appAbility" column="YY_NLBD" jdbcType="VARCHAR"/>
        <result property="appAgreement" column="YY_FWXY" jdbcType="TINYINT"/>
        <result property="appAuthentication" column="YY_SMRZ" jdbcType="TINYINT"/>
        <result property="appKey" column="YY_KEY" jdbcType="VARCHAR"/>
        <result property="appSecret" column="YY_SECRET" jdbcType="VARCHAR"/>
        <result property="appWgKey" column="YY_WGKEY" jdbcType="VARCHAR"/>
        <result property="appWgSecret" column="YY_WGSECRET" jdbcType="VARCHAR"/>
        <result property="appStatus" column="YY_ZT" jdbcType="TINYINT"/>
        <result property="appIsdelete" column="YY_ISDELETE" jdbcType="TINYINT"/>
        <result property="appCreatetime" column="YY_CREATETIME" jdbcType="TIMESTAMP"/>
        <result property="appUpdatetime" column="YY_UPDATETIME" jdbcType="TIMESTAMP"/>
        <result property="appRemarks" column="YY_BZ" jdbcType="VARCHAR"/>
        <result property="appCreatename" column="YY_CREATENAME" jdbcType="VARCHAR"/>
        <result property="appUpdatename" column="YY_UPDATENAME" jdbcType="VARCHAR"/>
        <result property="appCode" column="YY_CODE" jdbcType="VARCHAR"/>
        <result property="appExamine" column="YY_SHZT" jdbcType="TINYINT"/>
        <result property="appIconpath" column="YY_TB" jdbcType="VARCHAR"/>
        <result property="appUserId" column="YH_XH_ID" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        YY_ID, YY_MC, YY_JC, YY_NLBD, YY_FWXY, YY_SMRZ, YY_KEY, YY_SECRET, YY_ZT, YY_ISDELETE, YY_CREATETIME, YY_UPDATETIME, YY_BZ, YY_CREATENAME, YY_UPDATENAME, YY_CODE, YY_SHZT, YY_TB, YH_XH_ID
    </sql>

    <select id="selectappID" resultType="com.dsj.csp.manage.entity.ManageApplicationEntity">
        select *
        from GXYYZC_YYB
        where YY_ID = #{appId}
          and YH_XH_ID = #{appUserId}
    </select>


    <select id="contAll" resultType="int">
        select count(*)
        FROM GXYYZC_YYB
        where YY_ISDELETE = 0

    </select>

    <select id="selectUserApp" resultType="map">
        SELECT*
        from GXYYZC_YYB ma
                 INNER join GXYYZC_YHB mu on
            mu.YH_XH = ma.YH_XH_ID
        WHERE mu.YH_XH = #{appUserId};
    </select>

    <update id="upadataAppList">
        UPDATE GXYYZC_YYB ma
        SET ma.YY_MC=#{appName},
            ma.YY_MC=#{appSynopsis},
            ma.YY_TB=#{appIconpath},
            ma.YH_XH_ID=#{appUserId},
            ma.YY_UPDATETIME=now()


        WHERE ma.YY_ID = #{appId}

    </update>
    <update id="updateIsdetele">
        UPDATE GXYYZC_YYB ma
        SET
            ma.YH_XH_ID=#{appUserId},
            ma.YY_ISDELETE=1,
            ma.YY_UPDATETIME=NOW()
        WHERE ma.YY_ID = #{appId}

    </update>

    <select id="selectPages" resultType="map">
        SELECT*
        from GXYYZC_YYB ma
                 INNER join MANAGE_USER mu on
            mu.user_id = ma.app_user_id
        WHERE mu.user_id = #{appUserId};
    </select>
</mapper>
