<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsj.csp.manage.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.dsj.csp.manage.entity.UserEntity">
            <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
            <result property="email" column="EMAIL" jdbcType="VARCHAR"/>
            <result property="status" column="STATUS" jdbcType="TINYINT"/>
            <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
            <result property="companyNum" column="COMPANY_NUM" jdbcType="VARCHAR"/>
            <result property="companyRepresent" column="COMPANY_REPRESENT" jdbcType="VARCHAR"/>
            <result property="companyImage" column="COMPANY_IMAGE" jdbcType="VARCHAR"/>
            <result property="authorization" column="AUTHORIZATION" jdbcType="VARCHAR"/>
            <result property="companyUser" column="COMPANY_USER" jdbcType="VARCHAR"/>
            <result property="companyIdnum" column="COMPANY_IDNUM" jdbcType="VARCHAR"/>
            <result property="companyPhone" column="COMPANY_PHONE" jdbcType="VARCHAR"/>
            <result property="govName" column="GOV_NAME" jdbcType="VARCHAR"/>
            <result property="govNum" column="GOV_NUM" jdbcType="VARCHAR"/>
            <result property="govRepresent" column="GOV_REPRESENT" jdbcType="VARCHAR"/>
            <result property="govImage" column="GOV_IMAGE" jdbcType="VARCHAR"/>
            <result property="govUser" column="GOV_USER" jdbcType="VARCHAR"/>
            <result property="govIdnum" column="GOV_IDNUM" jdbcType="VARCHAR"/>
            <result property="govPhone" column="GOV_PHONE" jdbcType="VARCHAR"/>
            <result property="isDelete" column="IS_DELETE" jdbcType="BIGINT"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="note" column="NOTE" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID,USER_NAME,PHONE,
        EMAIL,STATUS,COMPANY_NAME,
        COMPANY_NUM,COMPANY_REPRESENT,COMPANY_IMAGE,
        AUTHORIZATION,COMPANY_USER,COMPANY_IDNUM,
        COMPANY_PHONE,GOV_NAME,GOV_NUM,
        GOV_REPRESENT,GOV_IMAGE,GOV_USER,
        GOV_IDNUM,GOV_PHONE,IS_DELETE,
        CREATE_TIME,NOTE
    </sql>

</mapper>
